@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Teko:wght@400;700&display=swap");

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	color: white;
	font-family: "Inter", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

.header {
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 auto;
	width: 75vw;
	height: 75px;
	margin: 0 auto;
	opacity: 90%;
}

.mainLogo img {
	height: 50px;
}

.nav {
	display: flex;
	align-items: center;
}

.linkList {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.linkList li {
	margin-right: 20px;
	font-weight: bold;
}

.linkList a {
	text-decoration: none;
	color: white;
	transition: color 0.3s ease;
}

.linkList a:hover {
	color: #c00;
}

.highlightsBtn {
	font-weight: bold;
}

.highlightsBtn a {
	text-decoration: none;
	padding: 10px 20px;
	background-color: #c00;
	color: white;
	border-radius: 30px;
	transition: background-color 0.5s ease;
}

.highlightsBtn a:hover {
	color: #c00;
	background-color: #1b1e1f;
}

.heroImage {
	height: 100vh;
	width: 100vw;
	background-image: url("./assets/DSC01864.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.heroText {
	padding: 100px 0;
	text-align: center;
	font-family: "Teko", sans-serif;
	font-size: 50px;
}

.lineup {
	background-image: url("./assets/BGGR.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh; /* Set a minimum height to accommodate all content */
	padding-bottom: 50px; /* Adjust as needed */
}

.speakers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.speaker {
	width: calc(33.33% - 20px);
	margin: 10px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
}

.speaker p {
	margin: 5px 0;
	font-weight: bold;
}

.speakerName {
	font-size: 20px;
}

.speakerSummary {
	padding: 100px;
	text-align: center;
	font-family: "Teko", sans-serif;
	font-size: 50px;
}

.speakerContainer img {
	padding: 0 auto;
	margin: 0 auto;
	height: 70vh;
}

.infoSection {
	display: flex;
	flex-direction: column;
	background-color: #202020;
	padding: 50px 200px;
	font-size: 14px;
}

.question {
	color: #eb0028;
	font-weight: bold;
}

.contactEmail {
	font-weight: bold;
	color: #c00;
	transition: color 0.3s ease;
}

.contactEmail:hover {
	color: #eb0028;
}

.QA {
	margin-bottom: 20px;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	width: 100%;
	font-size: 14px;
}

@media only screen and (max-width: 818px) {
	.nav {
		display: none;
	}

	.speakerContainer img {
		height: 40vh;
	}

	.infoSection {
		display: flex;
		flex-direction: column;
		background-color: #202020;
		padding: 50px 30px;
	}

	.QA {
		margin-bottom: 20px;
	}

	.footer {
		padding: 0 30px;
		text-align: center;
		justify-content: space-around;
		align-items: center;
		width: auto;
		height: 100px;
	}
}
